<% @courses.each do |course| %>
	<tr class="task">
		<td class="course_name">
			<%= link_to course.course_name, '#'%>
		</td>
		<td class="task_name"></td>
		<td class="finish_time"></td>
		<td class="status"></td>
	</tr>
<% end %>